<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn2001.college.service.edu.mapper.SubjectMapper">

    <resultMap id="nestedSubject" type="com.xn2001.college.service.edu.entity.vo.SubjectVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="sort" column="sort"/>
        <collection property="children"
                    column="id"
                    ofType="com.xn2001.college.service.edu.entity.vo.SubjectVo"
                    select="selectNestedList"/>
    </resultMap>

    <select id="selectNestedList" resultMap="nestedSubject">
        select id, sort, title from edu_subject where parent_id = #{parentId}
    </select>
</mapper>
